<ul>
    <li>First name: {{model.firstName}}</li>
    <li>Last name: {{model.lastName}}</li>
    <li>email: {{model.email}}</li>
    <li>Twitter: {{model.twitter}}</li>
</ul>

{{link-to "Edit profile" "friends.edit" model}}
<a href="#" {{action "delete" model}}>Delete</a>
{{link-to "Back" "friends"}}
